@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* top area */

.escort-profile-area .card {
    height: 320px;
    width: 100%;
}

.escort-profile-area .card img {
    border-radius: 0px;
    height: 320px;
}

.escort-profile-area .card .card-body p {
    background: rgba(71, 31, 43, 0.1);
    backdrop-filter: blur(45px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.escort-profile-area .card .card-body {
    display: flex;
    align-items: flex-end;
}




@media (max-width: 767px) {
    .escort-profile-area .card .card-body p {
        height: 70px;
        font-size: 28px;
    }

    .escort-profile-area .card {
        height: 250px;
    }

    .escort-profile-area .card img {
        height: 250px;
    }
}

@media (max-width: 479px) {
    .escort-profile-area .card .card-body p {
        height: 50px;
        font-size: 20px;
    }

    .escort-profile-area .card {
        height: 200px;
    }

    .escort-profile-area .card img {
        height: 200px;
    }
}

@media (max-width: 320px) {
    .escort-navbar .navbar-brand {
        margin: 0px !important;
        padding: 0px;
    }

    .escort-profile-area .card .card-body p {
        height: 50px;
        font-size: 18px;
    }

    .escort-profile-area .card {
        height: 160px;
    }

    .escort-profile-area .card img {
        height: 160px;
    }
}

/* top area end */
.container-fluid {
    background: #031521;
}

.mail-img {
    margin: 90px 0px 33px 0px;
}

.autentication-code h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.autentication-code p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.autentication-code .col-lg-4 {
    padding: 0px 16px 0px 16px;
}

.autentication-code .col-md-7 {
    padding: 0px 3px 0px 3px;
}

.autentication-code .col-sm-9 {
    padding: 0px 12px 0px 12px;
}

.autentication-code .col-9 {
    padding: 0px 16px 0px 16px;
}

.autentication-code .col-lg-4 .code-box {
    width: 100%;
    border: 3px solid #E41779;
    border-radius: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.autentication-code .col-lg-4 .code-box input {
    box-sizing: content-box;
    width: 2ch;
    height: 35px;
    /* margin-left: 20px; */
    border: none;
    border-bottom: 3px solid #FFFFFF;
    background: transparent;
    color: lightgray;
    font-size: 30px;
    text-align: center;
}

/* .autentication-code .col-lg-4 .code-box input::placeholder {
    color: white;
} */

input:focus-visible {
    outline: none;
}

.autentication-code .col-lg-4 .alert {
    height: 40px;
    background: rgba(228, 23, 121, 0.5);
    backdrop-filter: blur(37px);
    border-radius: 100px;
    padding: 10px 10px 10px 30px;
    text-align: start;
    border: 1px solid rgba(228, 23, 121, 0.5);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 15px 12px 50px rgba(0, 0, 0, 0.3);
    margin: 0px;
}

.autentication-code .col-lg-4 .alert button {
    background: transparent;
    padding: 10px 13px 0px 0px;
}

.autentication-code .col-lg-4 .alert button:focus {
    box-shadow: none;
}

/* .go-back{
    margin: 50px 0px 58px 0px !important;
} */
.autentication-code .col-lg-4 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 15px 12px 50px rgba(0, 0, 0, 0.3);
    margin: 50px 0px 58px 0px;
    text-align: start;
}

.autentication-code .col-lg-4 p a {
    color: #9C58B7;
    font-weight: 400;
}

.autentication-code .col-lg-4 .submit-btn {
    width: 100%;
    height: 50px;
    background: #E41779;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 90px;
}

.autentication-code .col-lg-4 .submit-btn:hover {
    background-color: #C50260;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mail-img {
        margin: 60px 0px 23px 0px;
    }

    .autentication-code h2 {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 22px;
    }

    .autentication-code p {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .autentication-code .col-lg-4 .alert {
        height: 40px;
        padding: 11px 10px 11px 20px;
        font-size: 12px;
    }

    .autentication-code .col-lg-4 p {
        font-size: 14px;
        margin: 30px 0px 38px 0px;
    }

    .autentication-code .col-lg-4 .submit-btn {
        font-size: 16px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    .mail-img {
        margin: 30px 0px 30px 0px;
        height: 40px;
        width: 50px;
    }

    .autentication-code h2 {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .autentication-code p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .autentication-code .col-lg-4 .code-box {
        border: 2px solid #E41779;
        height: 35px;
    }

    .autentication-code .col-lg-4 .code-box input {
        width: 2ch;
        height: 24px;
        /* margin-left: 20px; */
        border-bottom: 2px solid #FFFFFF;
        font-size: 16px;
    }

    .autentication-code .col-lg-4 .alert {
        height: 30px;
        padding: 5px 10px 5px 20px;
        font-size: 12px;
    }

    .autentication-code .col-lg-4 .alert button {
        padding: 5px 13px 5px 0px;
    }

    .autentication-code .col-lg-4 p {
        font-size: 12px;
        margin: 20px 0px 20px 0px;
    }

    .autentication-code .col-lg-4 .submit-btn {
        font-size: 14px;
        height: 35px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .autentication-code .col-lg-4 p {
        font-size: 9px;
        margin: 15px 0px 15px 0px;
    }
}

@media only screen and (max-width: 320px) {
    .mail-img {
        margin: 30px 0px 20px 0px;
        height: 30px;
        width: 45px;
    }

    .autentication-code h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .autentication-code p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .autentication-code .col-lg-4 .code-box {
        border: 2px solid #E41779;
        height: 30px;
    }

    .autentication-code .col-lg-4 .code-box input {
        width: 1ch;
        height: 20px;
        /* margin-left: 15px; */
        border-bottom: 2px solid #FFFFFF;
        font-size: 16px;
    }

    .autentication-code .col-lg-4 .alert {
        height: 30px;
        padding: 5px 10px 5px 12px;
        font-size: 10px;
    }

    .autentication-code .col-lg-4 .alert button {
        padding: 4px 13px 4px 0px;
    }

    .autentication-code .col-lg-4 p {
        font-size: 9px;
        margin: 15px 0px;
    }

    .autentication-code .col-lg-4 .submit-btn {
        font-size: 14px;
        height: 30px;
        margin-bottom: 30px;
        line-height: 16px;
    }
}