@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

/* top area */

.escort-profile-area .card {
  height: 320px;
  width: 100%;
}

.escort-profile-area .card img {
  border-radius: 0px;
  height: 320px;
}

.escort-profile-area .card .card-body p {
  background: rgba(71, 31, 43, 0.1);
  backdrop-filter: blur(45px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

.escort-profile-area .card .card-body {
  display: flex;
  align-items: flex-end;
}




@media (max-width: 767px) {
  .escort-profile-area .card .card-body p {
    height: 70px;
    font-size: 28px;
  }

  .escort-profile-area .card {
    height: 250px;
  }

  .escort-profile-area .card img {
    height: 250px;
  }
}

@media (max-width: 479px) {
  .escort-profile-area .card .card-body p {
    height: 50px;
    font-size: 20px;
  }

  .escort-profile-area .card {
    height: 200px;
  }

  .escort-profile-area .card img {
    height: 200px;
  }
}

@media (max-width: 320px) {
  .escort-navbar .navbar-brand {
    margin: 0px !important;
    padding: 0px;
  }

  .escort-profile-area .card .card-body p {
    height: 50px;
    font-size: 18px;
  }

  .escort-profile-area .card {
    height: 160px;
  }

  .escort-profile-area .card img {
    height: 160px;
  }
}

/* top area end */



body {
  background: #031521;
}

main .section-1 {
  padding: 90px 0px;
}

.nav-tabs {
  border: none;
  justify-content: space-between;
}

main .section-1 .nav-tabs li {
  width: 16%;
  height: 50px;
  border: 1px solid #e41779;
  border-radius: 50px;
}

main .section-1 .nav-tabs ul {
  justify-content: space-between;
}

.nav-tabs li button {
  width: 100%;
  padding: 0px;
  height: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border-radius: 50px !important;
}

.nav-tabs li button:hover {
  color: white;
}

.nav-tabs li button.active {
  background-color: #e41779 !important;
  border-radius: 10px;
  border-radius: 50px !important;
}

main .section-1 .nav-tabs li:hover {
  background-color: #e41779;
  border: 1px solid #e41779;
  color: blanchedalmond;
}

main .section-1 .nav-tabs .form-main {
  margin-top: 40px;
}

main .section-1 .nav-tabs .form-main .form-title label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 62px;
  height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

main .section-1 .nav-tabs .form-main .form-input input {
  width: 100%;
  height: 50px;
  color: white;
  background: linear-gradient(120.37deg,
      rgba(239, 239, 239, 0.048) 0%,
      rgba(255, 255, 255, 0.008) 100%);
  border: 1.6px solid #efefef;
  border-radius: 50px;
  box-shadow: none;
}

main .section-1 .nav-tabs .form-main .form-input input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.5);
}

main .section-1 .nav-tabs .form-main .form-input textarea {
  width: 100%;
  height: 230px;
  background: linear-gradient(120.37deg,
      rgba(239, 239, 239, 0.048) 0%,
      rgba(255, 255, 255, 0.008) 100%);
  border: 1.6px solid #efefef;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 1vmin;
}

main .section-1 .form-main .input-send-btn input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 44.5px;
  gap: 10px;
  width: 55vmin;
  height: 50px;
  border: none;
  background: #e41779;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

main .section-1 .form-main .input-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img {
  margin-top: 90px;
}

.detail-img img {
  width: 25%;
  border-radius: 10px;
  border: 2px solid #e41779;
}

.detail-img p {
  margin-bottom: 0px;
  padding: 30px 0px 10px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.detail-img label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 90px;
}

.detail-img span {
  color: #e41779;
}

.para-preview {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  padding: 0px !important;
}

.profilePreiewAccordion .accordion-button {
  color: #fff;
  outline: none;
  border: 1px solid #e41779;
  border-radius: 50px !important;
  box-shadow: none;
  background: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 30px;
}

.profilePreiewAccordion .accordion-button span {
  color: #e41779;
  padding-right: 20px;
}

.profilePreiewAccordion .accordion-item {
  background: transparent;
  border: none;
  margin-bottom: 30px;
}

.profilePreiewAccordion .accordion-item .accordion-body {
  border: 1px solid #e41779;
  margin-top: 30px;
  border-radius: 10px;
  padding: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}

.profilePreiewAccordion .accordion-item .accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #e41779;
}

.profilePreiewAccordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #fff;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: 50%;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  width: 2.25rem;
  height: 1.25rem;
  background-image: url(../img/arow.png);
  transform: rotate(0deg);
  margin-top: 10px;
}

.profile-gender p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0px;
  margin-bottom: 30px;
}

.profile-gender span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.profile-gen p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0px;
  margin-bottom: 30px;
}

.profile-gen span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}

/* photos */



.profilePhotoRow {
  margin: 50px 0px 0px;
}

.profilePhotoCol {
  padding: 0px 10px;
}

.profilePhotoCard {
  margin-bottom: 30px;
  border: none;
  border: 2px solid #e41779;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.profilePhotoCard .card-img img {
  height: 300px;
}

.profilePhotoCard .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profilePhotoCard .card-body {
  display: flex;
  align-items: flex-end;
  padding: 0px;
}

.profilePhotoCard .card-body .photoOptions {
  background: linear-gradient(180deg,
      rgba(228, 23, 121, 0) -48.5%,
      #e41779 100%);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding: 20px 20px;
  position: relative;
  top: 140px;
  transition: all 0.5s ease;
}

.profilePhotoCard:hover .card-body .photoOptions {
  top: 0px;
}

.profilePhotoCard .card-body .photoOptions .option {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px 0px 10px;
  text-decoration: none;
}

.profilePhotoCard .card-body .photoOptions .lastOption {
  margin: 0px;
}

.profilePhotoCard .card-body .photoOptions .option:hover {
  color: #000;
}

.downloadimg {
  padding: 20px 0px 50px 0px;
}

.downloadimg img {
  width: 22%;
  padding-bottom: 30px;
}

.downloadimg p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF !important;
  margin-bottom: 0px !;
}

.preview-upload p {
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.5);
}

.preview-upload-input {
  padding: 30px 0px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #fff;
  background: #FFFFFF;
  border-radius: 5px;
}

.upload-doc-personal img {
  width: 100%;
}

.preview-upload-btn button {
  background: #9C58B7;
  border-radius: 50px;
  border: 0px;
  width: 26%;
  padding: 14px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}







/* my favourite */
.card-img-text {
  position: absolute;
  background: rgba(228, 23, 121, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.card-img-text p {
  margin: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0px;
  color: #FFFFFF;
}


.favimg img {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 20%;
}

.favimg p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF !important;
  margin-bottom: 0px;
}


/* review */
:root {
  --inter-font: 'Inter', sans-serif;
  --black: #000000;
  --white: #FFFFFF;
  --dark-blue: #031521;
  --purple: #9B59B6;
  --dark-pink: #E41779;
}

.reviewCardSection {
  background-color: var(--dark-blue);
}

.reviewCardsContainer {
  padding: 90px 0px;
}

.cardTabContent {
  margin-top: 70px;
}

.cardsCarousel .owl-stage-outer {
  padding: 50px 0px;
}

.cardsCarousel .owl-item.center {
  position: relative;
  top: -30px;
  transition: 0.5s;
}

.reviewCard {
  padding: 40px 20px;
  border: none;
  background-color: var(--purple);
  border-radius: 10px;
}

.cardsCarousel .owl-item.center .reviewCard {
  background-color: var(--dark-pink);
}

.reviewCard .card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewCard .card-img img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.reviewCard .card-img .name {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  margin: 20px 0px 0px;
}

.reviewCard .card-body {
  padding: 10px 0px 0px;
}

.reviewCard .card-body .review {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--white);
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.reviewCard .card-body .review:hover {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.reviewCard .card-body .starsRating {
  padding: 0px 15px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviewCard .card-body .starsRating img {
  width: 25px;
  height: 25px;
  margin: 0px 5px 0px 5px;
}

.arrowCol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.arrowCol .leftArrowdiv,
.arrowCol .rightArrowdiv {
  cursor: pointer;
  background: rgba(228, 23, 121, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

/* ================================================ BEGIN: Review Card Modal =============================================== */

#reviewCardModal .modal-dialog .modal-content {
  background-color: var(--dark-pink);
  border: none;
  padding: 20px 30px 30px;
}

#reviewCardModal .modal-header {
  border: none;
  padding: 0px;
}

#reviewCardModal .modal-header {
  align-items: flex-start;
}

#reviewCardModal .modal-header .profileImg img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

#reviewCardModal .modal-header .profileImg .profileName {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  margin: 10px 0px 0px;
}

#reviewCardModal .modal-header .modalCloseBtn {
  padding: 0px;
}

#reviewCardModal .modal-header .modalCloseBtn img {
  width: 30px;
  height: 30px;
}

#reviewCardModal .modal-body {
  padding: 30px 0px 0px;
}

#reviewCardModal .modal-body .reviewDesc {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  margin: 0px 0px 30px;
}

#reviewCardModal .modal-body #starRating {
  display: flex;
  justify-content: center;
}

#reviewCardModal .modal-body #starRating img {
  margin: 0px 10px;
}

/* ================================================= END: Review Card Modal ================================================ */

/* ================================================== BEGIN: Media Queries ================================================= */

@media (min-width: 1200px) {
  #reviewCardModal .modal-dialog {
    max-width: 1000px
  }
}

@media (max-width: 1199px) {
  #reviewCardModal .modal-header .profileImg img {
    width: 60px;
    height: 60px;
  }

  #reviewCardModal .modal-header .profileImg .profileName {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0px 0px;
  }

  #reviewCardModal .modal-header .modalCloseBtn img {
    width: 25px;
    height: 25px;
  }

  #reviewCardModal .modal-body {
    padding: 10px 0px 0px;
  }

  #reviewCardModal .modal-body .reviewDesc {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 20px;
  }

  #reviewCardModal .modal-body #starRating img {
    margin: 0px 5px;
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #reviewCardModal .modal-dialog {
    max-width: 700px
  }
}

@media (max-width: 575px) {
  .reviewCard {
    padding: 30px 20px;
  }

  .reviewCard .card-img .name {
    font-size: 18px;
    line-height: 22px;
  }

  .reviewCard .card-img img {
    width: 60px;
    height: 60px;
  }

  .arrowCol .leftArrowdiv img,
  .arrowCol .rightArrowdiv img {
    width: 10px;
    height: 20px;
  }

  .arrowCol .leftArrowdiv,
  .arrowCol .rightArrowdiv {
    padding: 0px 8px;
  }

  #reviewCardModal .modal-dialog .modal-content {
    padding: 20px 20px 20px;
  }
}

/* =================================================== END: Media Queries ================================================== */

/* =================================================== END: Review Cards =================================================== */




/* review */




@media only screen and (max-width: 1199px) {
  .profilePhotoCard .card-body .photoOptions {
    padding: 5px 10px;
    top: 155px;
  }

  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 14px;
    line-height: 20px;
  }
}


@media only screen and (max-width: 991px) {
  .profilePhotoCard .card-body .photoOptions {
    padding: 5px 10px;
    top: 155px;
  }

  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 11px;
    line-height: 16px;
    margin: 0px 0px 5px;
  }

  .nav-tabs li button {
    font-size: 3.2vmin;
  }

  main .section-1 .nav-tabs li {
    width: 18%;
    height: 38px;
  }

  .detail-img {
    margin-top: 80px;
  }

  .detail-img label {
    margin-bottom: 80px;
  }

  /* my favirout */
  .card-img-text p {
    font-size: 16px;
    line-height: 12px;
    padding: 12px 0px;
  }

  .favimg p {
    font-size: 20px;
    line-height: 26px;
  }

  .favimg img {
    padding-top: 10px;
    padding-bottom: 40px;
    width: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .detail-img p {
    padding: 20px 0px 10px 0px;
    font-size: 18px;
    line-height: 20px;
  }

  .detail-img label {
    margin-bottom: 55px;
  }

  .detail-img {
    margin-top: 55px;
  }

  main .section-1 {
    padding: 70px 0px;
  }

  .profilePreiewAccordion .accordion-button {
    font-size: 18px;
    line-height: 20px;
    padding: 11px 20px;
  }

  .detail-img p {
    font-size: 16px;
    line-height: 20px;
  }

  .para-previe {
    padding: 0px !important;
  }

  .profile-gender p {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0px !important;
  }

  .profile-gender span {
    font-size: 16px;
    line-height: 20px;
  }

  .profile-gen span {
    font-size: 16px;
    line-height: 20px;
  }

  .profile-gen p {
    margin-bottom: 20px;
    padding: 0px !important;
  }

  .profile-gender,
  .profile-gen {
    margin-top: 20px;
  }

  .profile-gen {
    display: grid;
    justify-content: flex-end;
  }

  .nav-tabs li button {
    font-size: 15px;
  }

  main .section-1 .nav-tabs li {
    width: 26%;
    height: 37px;
    margin: 10px;
  }

  .accordion-button::after {
    width: 1.1rem;
    height: 1.1rem;
  }

  .accordion-button:not(.collapsed)::after {
    width: 2rem;
    height: 1.25rem;
  }

  .detail-img label {
    font-size: 16px;
    line-height: 20px;
  }

  .profilePreiewAccordion .accordion-button {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 20px;
  }

  .detail-img p {
    font-size: 14px;
    line-height: 18px;
  }

  main .section-1 .nav-tabs ul {
    display: flex;
    justify-content: center;
  }

  /* photos */

  .preview-upload p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .profilePhotoCard {
    margin-bottom: 20px;
    border: none;
    border: 2px solid #e41779;
    border-radius: 10px;
  }

  .profilePhotoCol {
    padding: 10px !important;
  }

  .upload-doc-personal img {
    width: 75%;
  }

  .preview-upload-input {
    padding: 20px 0px;
    margin-bottom: 40px;
  }

  .preview-upload-btn button {
    width: 45%;
    padding: 11px 0px;
  }

  .profilePhotoCard .card-body .photoOptions {
    padding: 10px 10px;
    position: relative;
    top: 194px;
  }

  .downloadimg {
    padding: 20px 0px 20px 0px;
  }

  .downloadimg img {
    width: 45%;
    padding-bottom: 20px;
  }


  /* my favirout */
  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 10px;
  }

  .favimg img {
    width: 45%;
  }
}

@media only screen and (max-width: 620px) {
  .profilePreiewAccordion {
    padding: 0px 12px;
  }

  .profile-gender span {
    font-size: 14px;
    line-height: 20px;
  }

  .profile-gen span {
    font-size: 14px;
    line-height: 20px;
  }

  .detail-img label {
    margin-bottom: 40px;
  }

  .detail-img {
    margin-top: 40px;
  }

  main .section-1 {
    padding: 30px 0px;
  }

  /* my favirout */
  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 14px;
    line-height: 18px;
    margin: 0px 0px 6px;
  }
}

@media only screen and (max-width: 480px) {
  .accordion-button:not(.collapsed)::after {
    width: 2.25rem;
    height: 1.25rem;
    background-image: url(../img/arow.png);
    transform: rotate(0deg);
    margin-top: 5px;
  }

  main .section-1 .nav-tabs li {
    width: 42%;
    height: 37px;
    margin: 10px;
  }

  .nav-tabs li button {
    font-size: 12px;
  }

  main .section-1 .nav-tabs li {
    width: 37%;
    height: 37px;
    margin: 10px;
  }

  .nav-tabs li button {
    font-size: 13px;
  }

  .detail-img p {
    font-size: 13px;
    line-height: 20px;
  }

  .detail-img label {
    font-size: 13px;
    line-height: 10px;
  }

  .detail-img {
    margin-top: 30px;
  }

  .detail-img label {
    margin-bottom: 20px;
  }

  .profilePreiewAccordion .accordion-button {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 12px;
  }

  .profilePreiewAccordion .accordion-item {
    margin-bottom: 20px;
  }

  .profile-gender span,
  .profile-gen span {
    font-size: 13px;
    line-height: 20px;
  }

  .profilePreiewAccordion .accordion-item .accordion-body {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .detail-img img {
    border-radius: 10px;
    border: 2px solid #e41779;
    width: 41%;
  }

  /* photos */

  .profilePhotoCard {
    margin-bottom: 15px !important;
  }

  .upload-doc-personal img {
    width: 64%;
  }

  .preview-upload p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .preview-upload-input {
    padding: 14px 0px;
    margin-bottom: 25px;
  }

  .preview-upload-btn button {
    width: 40%;
    padding: 6px 0px;
    font-size: 14px;
  }

  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
  }

  .profilePhotoRow {
    margin: 30px 0px 0px;
  }

  .profilePhotoCol {
    padding: 0px 5px !important;
  }

  .downloadimg {
    padding: 0px;
  }

  .downloadimg img {
    width: 27%;
    padding-bottom: 15px;
  }

  /* my favirout */
  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 10px;
    line-height: 14px;
    margin: 0px 0px 5px;
  }

  .card-img-text p {
    font-size: 14px;
    line-height: 12px;
    padding: 10px 0px;
  }

  .favimg p {
    font-size: 16px;
    line-height: 18px;
  }

  .favimg img {
    padding-top: 10px;
    padding-bottom: 25px;
    width: 40%;
  }
}



@media only screen and (max-width: 320px) {

  /* tabs */
  main .section-1 .nav-tabs li {
    width: 42%;
  }

  /* photo */
  .profilePhotoCard .card-body .photoOptions .option {
    font-size: 8px;
    line-height: 10px;
    margin: 0px 0px 5px;
  }

  .profilePhotoCard .card-body .photoOptions {
    padding: 5px 5px;
  }

  .profilePhotoCol {
    padding: 0px 5px !important;
  }

  .card-img-text p {
    font-size: 12px;
    line-height: 12px;
    padding: 10px 0px;
  }

  .favimg p {
    font-size: 14px;
    line-height: 16px;
  }

  .favimg img {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 35%;
  }

}